<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.jiangyang5157.demo_router">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fragmentroute.ExampleActivity"
            android:label="fragmentroute.ExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".keyroute.uri.ExampleActivity"
            android:label="keyroute.uri.ExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".keyroute.uri.ExampleCustomRouteStorageActivity"
            android:label="keyroute.uri.ExampleCustomRouteStorageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".keyroute.uri.ExampleCustomStackStorageActivity"
            android:label="keyroute.uri.ExampleCustomStackStorageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
